doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //-link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/index#{dotmin}.css?__inline=true')

    |<!--[if lt IE 9]>
    |<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    |<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    |<![endif]-->

  body
    nav(role='navigation').navbar.navbar-custom.navbar-fixed-top.top-nav-collapse
      .container
        .navbar-header.page-scroll
          button.navbar-toggle //- not done here
            i.fa.fa-bars
          a(href='/').company GISimple
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li
              a(href='#welcome') welcome
            li
              a(href='#showcase') showcase
            li
              a(href='#services') services
            li
              a(href='#testimonials') testimonials
            li
              a(href='#blog') blog
            li
              a(href='#contact') contact
    section#head
      .container.hero
        .row
          .col-md-9.col-md-offset-1
            .row
              .col-md-5.hidden-sm.hidden-xs
                img(src='http://themes.createbrilliance.com/Trype/theme/img/iphone-small-white.png').img-responsive.center-block
              .col-md-7
                h1 GENIUS.
                br
                h1 SMART.
                br
                h1 LOVELY.
                h2 You'll Love It.
    section#welcome
      .row
        .container
          .col-md-3.hidden-sm.hidden-xs.pad-top
            .info-box.visible
              .icon.brand-color.visible
                i.fa.fa-heart
              .content
                h3 Beautiful Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .info-box.visible
              .icon.brand-color.visible
                i.fa.fa-heart
              .content
                h3 Fully Responsive
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          .col-md-6.col-sm-12.pad-top
            h2.text-center UNBELIEVABLE
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

          .col-md-3.hidden-sm.hidden-xs.pad-top
            .info-box.visible
              .icon.brand-color.visible
                i.fa.fa-heart
              .content
                h3 Beautiful Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .info-box.visible
              .icon.brand-color.visible
                i.fa.fa-heart
              .content
                h3 Fully Responsive
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    section#showcase
      .container.hero
        .row
          h1 Showcase
        .row-padding
    section#services
      .container.hero
        .row
          h1 Services
        .row-padding
    section#testimonials
      .container.hero
        .row
          h1 Testimonials
        .row-padding
    section#blog
      .container.hero
        .row
          h1 Blog
        .row-padding
    section#contact
      .container.hero
        .row
          h1 Contact
        .row-padding
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //-script(type='text/javascript', src= '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js')
    script(type='text/javascript', src='js/jquery.scrollTo.min.js?__inline=true')
    script(type='text/javascript', src='js/jquery.localScroll.min.js?__inline=true')
    //-script(type='text/javascript', src='js/jquery.inview#{dotmin}.js?__inline=true')
    //-script(type='text/javascript', src='js/jquery.onepagenav#{dotmin}.js?__inline=true')
    script(type='text/javascript', src='js/index#{dotmin}.js?__inline=true')

